
.mainContain {
  margin-top: 10px;
}



a {
  color: white;
  margin-right: 26px;
  margin-top: 20px;
}

#toggleRead  textarea {
  height: 50vh;
}

#toggleJoin textarea {
  height: 20vh;
}

#toggleJoin {
  text-align: center;
}
.menu ul {
    list-style: none outside none;
    display: block;
}
.menu li {
    line-height: 18px;
    margin-bottom: 12px;
    display: inline-block;
}

#toggleJoin h3 {
  text-align: center;
  /*padding: 20px 5px 20px 5px;*/
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.nav-side-menu .brand {
  background-color: rgba(255, 255, 255, 0.64);`
  line-height: 70px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: white;
}

.nav-side-menu .brand img {
  margin: 16px 0 16px 0;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  .collapsed {
      .arrow:before {
          font-family: FontAwesome;
          content: "\f053";
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          vertical-align: middle;
          float: right;
      }
  }
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.well {
  background-color: #fff;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #bbbb;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  background-color: #fff;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #25488E;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #D3DBE3;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      background-color: #fff;
  }
  .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: (255, 255, 255, 0.71);
      color: #000;
      width: 40px;
      text-align: center;
  }
  .brand {
      text-align: left !important;
      font-size: 30px;
      padding-left: 20px;
      line-height: 50px !important;
  }
}

.bootNav {
  background-color: rgba(255, 255, 255, 0.78);
  height: 25vh;
}

.bootSide {
  background-color: #fff;
  height: 100vh;
  overflow: scroll;
}

.bootSideNav {
  background-color: #00547E;
  opacity: 0.9;
  height: 100vh;
  overflow: scroll;
}

.bootMain {
  background-color: #f0f0f0;
  height: 100vh;
}
.bootMainJoin h4 {
  margin-left: 20px;
  top: 55px;
  color: #545454;
}

.bootMainJoin h2 {
  font-size: 40px;
  margin-left: 20px;
  top: 55px;
  color: grey;
}

.title {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: scroll;
}

.one {
  grid-row-end: span 3;
}

* {
  box-sizing: border-box;
}

header {
  background: #729f98;
}

#navbar-primary .navbar-nav li {
  display: inline-block;
  float: none;
  margin: 20px;

}
textarea {
  resize: none;
  height: 50vh;
}

#navbar-primary .navbar-nav a {
  padding-left: 30px;
  padding-right: 30px;
}
/* body {
  min-height: 100vh;
  background-color: #f7f7f7;
  border-style: #8ab8bc;
} */

.btn {
  background-color: #8ab8bc;
  border: none;
  color: #white;
}

.leftNav {
  min-height: 10vh;
  max-height: 92vh;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  overflow: scroll;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #888888;
}

.leftNav img {
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: 19%;

}

img.img-circle {
  width: 100%;
}

@keyframes bounceIn {
  0% {
      opacity: 1;
      transform: scale(.3);
  }
  50% {
      opacity: 1;
      transform: scale(1.05);
  }
  70% {
      opacity: 1;
      transform: scale(.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.form-group {
  font-size: 28px;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}
/* Nav Styles */

.menu {
  background-color: #00547E;
  width: 100%;
  height: auto;
  padding: 0 10px;
  position: fixed;
  margin: 0px;
  z-index: 1;
  opacity: 0.9;
}

.menu .navbar-nav>.active>a {
  background-color: #04A3ED;
  color: white;
  font-weight: bold;
}

.menu .navbar-nav>li>a {
  font-size: 13px;
  color: white;
  padding: 10px 35px;
}

.menu .navbar-nav>li>a:hover {
  background-color: #04A3ED;
}

.navbar-header>a {
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  /* padding: 5px 30px; */
}

.navbar-header>a:hover {
  text-decoration: none;
}
/* editor styles in bootmain */

#editor {
  height: 60vh;
  background-color: #FFFFFF;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

.navbar.navbar-default .nav-collapse {
  background-color: #8E2323;
}

.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}

.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}

.nav-collapse>li {
  float: right;
}

.btn.btn-circle {
  border-radius: 50px;
}

.btn.btn-outline {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right>li:last-child {
      padding-left: 15px;
      padding-right: 15px;
  }
  .navbar .nav-collapse {
      margin: 7.5px auto;
      padding: 0;
  }
  .navbar .nav-collapse .navbar-form {
      margin: 0;
  }
  .nav-collapse>li {
      float: none;
  }
}

.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Previous button  */

.media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px
}
/* Next button  */

.media-carousel .carousel-control.right {
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */

.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
  background: #333333;
}

.media-carousel img {
  width: 250px;
  height: 100px
}




.newStoryDivTwo {
    margin: 15px 0;
    background-color: #f0f0f0;
    height: 250px;

    /*-webkit-box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);
    box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);*/

}

.newStoryDivTwo h3 {
  /*font-size: 20px;
  margin-bottom: 40px;*/

  /*padding-top: 20px;*/

}

.newStoryDivTwo h6 {
  color: #545454;
  /*margin-top: 18px;*/
}

.newStoryDivTwo p {
  height: 100px;
}
.newStoryDivTwo button {
}





.newStoryDiv {
  background-color: #fff;
  height: 300px;
  align-content: center;
  /*padding-top: 20px;*/
  margin: 10px  20px 20px 20px;
  -webkit-box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);
  -moz-box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);
  box-shadow: -2px 4px 5px -2px rgba(0,0,0,0.17);

}
/*.newStoryDiv button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25px;
}*/
.readButtStyle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25px;
}
.buttStyle {
  position: absolute;
  bottom: 0;
  left: 35;
  margin: 25px;
}

.bootMainJoin h1 {
  color: #545454;
  font-size: 80px;

}

.newStoryDiv h4 {
  font-size: 20px;
  margin-bottom: 40px;
}

.newStoryDiv h6 {
  color: #545454;
  margin-top: 18px;
}

.newStoryDiv p {

  height: 100px;
}

.storyStyle {
  text-decoration-color: white;
}

.btn {
  color: white;
}



/*nav styling*/

.mega-nav {
    background:#2a8fcf;
    border-radius:0;
    margin-bottom:0;
}
.mega-nav.navbar-default .navbar-nav > li > a {
    color:#fff;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
}
.mega-nav.navbar-default .navbar-nav > li > a:hover {
    background:#0075b3;
}
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:hover,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:focus,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:active{
    background:#0075b3;
    color:#fff;
}


/*Create Story Style*/


form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
